
// файл обнуления
@import "./main/reset.scss";
// файл переменных
@import "./main/vars.scss";



*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/*шаблонные стили (подлежат замене )*/
html, p{
	font-family: 'Roboto','sans-serif';
	color: rgba(0, 0, 0, 1);
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-style: normal;
}

img{
	max-width: 100%;
}

.btn{
	width: 165px;
	height: 49px;
	background:$primary_pink;
	border-radius: 5px;
	border: none;
	font-family: 'Hind Madurai';
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	color: #FAFAFA;

	&:hover{
		border: 1px solid black;
	}
	&:active{
		border: 1px solid white;
		font-size: 15px;
	}
}

body{
	max-width: 1600px;
	background: rgba(255, 255, 255, 1);
	margin: 0 auto;
}

/*параметры контейнера не меняются(могут дополнятся)*/
.container{
	position: relative;
	max-width: 1150px;
	padding: 0 15px;
	margin: 0 auto;
}



// файл стилей определенной секции из компонентов
@import '../scss/components/header.scss';
@import '../scss/components/section2.scss';
@import '../scss/components/section3.scss';
@import '../scss/components/section4.scss';
@import '../scss/components/section4-2.scss';
@import '../scss/components/section5.scss';
@import '../scss/components/section6.scss';
@import '../scss/components/footer.scss';
