@import './main/vars.scss';



.header{
	background: $primary-bgrs;
}

.container{
	// position: relative;
	max-width: 1600px;/*задать ширину*/
	padding: 0 15px;
	margin: 0 auto;
}



.header__head{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 11px;
}


.header__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header__link{
	text-decoration: none;
	span{
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: rgba(21, 1, 1, 0.6);
		opacity: 0.6;
	}
}