@import './main/vars.scss';

.section4{
	margin-top: 137px;
}

.sect4{
	&__top-title{
		font-family: 'Hind Madurai';
		font-weight: 600;
		font-size: 44.2px;
		line-height: 61px;
		max-width: 239px;
		margin: 0 auto;
	}
	&__menu{
		position: relative;
		left: 10px;
		display: flex;
		justify-content: center;
		padding: 64px 0 52px;
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item{
		padding: 0 20px;
	}
	&__link{
		white-space: nowrap;
		text-decoration: none;
		span{
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
			transition: opacity 0.3s;
			color: rgba(0, 0, 0, 0.6);
		}

	&::before{
		content: attr(link-name);
		position: absolute;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		border-bottom: 3px solid $primary-pink;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000000;

		transition: opacity 0.1s;
		opacity: 0;
	}
	&:hover{
		span{
			opacity: 0;
		}
		&::before{
			opacity: 1;
		}
}
}
}
.price-brown{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	&__img{}
	&__content{
		position: relative;
		left: 77px;
		bottom: 18px;
	}
	&__title{
		font-family: 'Hind Madurai';
		font-weight: 700;
		font-size: 26px;
		line-height: 36px;}
	&__text{
		max-width: 452px;
		opacity: 0.7;
		padding: 11px 0 28px;
	}
	&__price{
		font-family: 'Hind Madurai';
		font-weight: 500;
		font-size: 26px;
		line-height: 36px;
		margin: -2px 0 31px;
		span{
			font-family: 'Hind Madurai';
			font-weight: 500;
			font-size: 20px;
			line-height: 28px;
			text-decoration-line: line-through;
			opacity: 0.7;
		}
	}
	&__btn{
		position: relative;
		bottom: 27px;
	}
	}
.price-cayenne{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 37px;
	position: relative;
	left: 35px;
	&__img{
		position: relative;
		top: 28px;
		left: 83px;
	}
	&__content{
		position: relative;
		top: 30px;
		text-align: end;
	}
	&__title{
		font-family: 'Hind Madurai';
		font-weight: 700;
		font-size: 26px;
		line-height: 36px;
	}
	&__text{
		max-width: 452px;
		opacity: 0.7;
		padding: 11px 0 28px;
	}
	&__price{
		font-family: 'Hind Madurai';
		font-weight: 500;
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 10px;
		span{
			font-family: 'Hind Madurai';
			font-weight: 500;
			font-size: 20px;
			line-height: 28px;
			text-decoration-line: line-through;
			opacity: 0.7;
		}
	}
	&__btn{
		position: relative;
		bottom: 5px;
	}
}

.price-sweet{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	&__img{
		position: relative;
		top: 30px;
	}
	&__content{
		position: relative;
		left: 77px;
		top: 40px;
	}
	&__title{
		font-family: 'Hind Madurai';
		font-weight: 700;
		font-size: 26px;
		line-height: 36px;}
	&__text{
		max-width: 452px;
		opacity: 0.7;
		padding: 11px 0 28px;
	}
	&__price{
		font-family: 'Hind Madurai';
		font-weight: 500;
		font-size: 26px;
		line-height: 36px;
		margin: -2px 0 31px;
		span{
			font-family: 'Hind Madurai';
			font-weight: 500;
			font-size: 20px;
			line-height: 28px;
			text-decoration-line: line-through;
			opacity: 0.7;
		}
	}
	&__btn{
		position: relative;
		bottom: 27px;
	}
	}