@import './main/vars.scss';

.section3{
	background: $primary-bgrs;
}

.sect3{
	display: flex;
	align-items: center;
	padding: 75px 0 66px 0;
	&__content{
		position: relative;
		right: 7px;
		bottom: 7px;
	}
	&__title{
		font-family: 'Hind Madurai';
		font-weight: 600;
		font-size: 44.2px;
		line-height: 49px;
		max-width: 349px;
	}
	&__text{
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		opacity: 0.6;
		max-width: 450px;
		padding: 15px 0 33px 0;
	}
	&__btn{
		margin-top: -10px;
	}
	&__imgs{}
	&__image{
		position: relative;
		bottom: 22px;
		left: 71px;
	}
}