main.footer
	.container
		.content
			.flow
				img.flow__logo(src="./assets/imgs/section1/logo.png", alt="logo")
				p.flow__text Some food has looked so awful that it's looked like something that the dog's brought home.
				h3.flow__social Fllow Us
				.flow__imgs
					a(href="#")
						img(src="./assets/imgs/footer/fb.svg", alt="facebook")
					a(href="#")
						img(src="./assets/imgs/footer/twt.svg", alt="twitter")
					a(href="#")
						img(src="./assets/imgs/footer/insta.svg", alt="instagram")
					a(href="#")
						img(src="./assets/imgs/footer/linkedin.png", alt="linked-in")
			.list1
				menu.list1__menu
					a.list1__link(href="#") Home
					a.list1__link(href="#") Product
					a.list1__link(href="#") Blog
					a.list1__link(href="#") Pricing
					a.list1__link(href="#") Testimonials
					a.list1__link(href="#") Contact Us
			.list2
				menu.list2__menu
					a.list2__link(href="#") Delivery Information
					a.list2__link(href="#") Privacy Policy
					a.list2__link(href="#") Terms & Condition
					a.list2__link(href="#") Search Terms
					a.list2__link(href="#") Order & Return
			.newsletter
				h3.newsletter__title Newsletter
				.newsletter__mail
					input.newsletter__input(type="mail" placeholder="Your Email")
					button.btn.newsletter__btn(type="submit") Subscribe
				.newsletter__imgs
					img(src="./assets/imgs/footer/paypal.png", alt="PayPal")
					img(src="./assets/imgs/footer/mcard.png", alt="mcard")
					img(src="./assets/imgs/footer/visa.png", alt="visa")


