.header
	.container
		.header__head
			img(src="./assets/imgs/section1/logo.png", alt="logo")
			menu.header__menu
				ul.header__list
					li.header__item
						a.header__link(href="#")
							span Home
					li.header__item
						a.header__link(href="#")
							span Product
					li.header__item
						a.header__link(href="#")
							span Pricing
					li.header__item
						a.header__link(href="#")
							span Testimonials
					li.header__item
						a.header__link(href="#")
							span Contact Us
			button.btn.header__btn Buy Now