.header
	.container
		.header__head
			img(src="./assets/imgs/section1/logo.png", alt="logo")
			menu.header__menu
				ul.header__list
					li.header__item
						a.header__link(href="#")
							span Home
					li.header__item
						a.header__link(href="#")
							span Product
					li.header__item
						a.header__link(href="#")
							span Pricing
					li.header__item
						a.header__link(href="#")
							span Testimonials
					li.header__item
						a.header__link(href="#")
							span Contact Us
			button.btn.header__btn Buy Now

		.header__fs
			.header__text
				h3.header__subtitle Sweet fun, full of milk.
				h2.header__title Feel inside cold with our delicious
					span  ice-cream.
				p.header__text Some food has looked so awful that it's looked like something that the dog's brought home, yet after one mouthful I've been left eating my thoughts, my words.
				button.btn.header__btn Buy Now
			.header__imgs
				img.hrader__icecream(src="./assets/imgs/section1/icecream.png", alt="icecream")
				img.hrader__milk(src="./assets/imgs/section1/milk.png", alt="milk")
				img.hrader__elli(src="./assets/imgs/section1/elli.png", alt="elli")