header.header
	.container
		.head
			img.head__logo(src="./assets/imgs/section1/logo.png", alt="logo")
			nav.head__nav
				ul.head__list
					li.head__item
						a.head__link(href="#" data-name='Home')
							span Home
					li.head__item
						a.head__link(href="#" data-name='Product')
							span Product
					li.head__item
						a.head__link(href="#" data-name='Pricing')
							span Pricing
					li.head__item
						a.head__link(href="#" data-name='Testimonials')
							span Testimonials
					li.header__item
						a.head__link(href="#" data-name='Contact Us')
							span Contact Us
			button.btn.head__btn Buy Now

		.fs
			.fs__content
				h3.fs__subtitle Sweet fun, full of milk.
				h2.fs__title Feel inside cold with our delicious
					span  ice-cream.
				p.fs__text Some food has looked so awful that it's looked like something that the dog's brought home, yet after one mouthful I've been left eating my thoughts, my words.
				button.btn.fs__btn Buy Now
			.fs__imgs
				img.fs__icecream(src="./assets/imgs/section1/icecream.png", alt="icecream")
				img.fs__milk(src="./assets/imgs/section1/milk.png", alt="milk")
				img.fs__elli(src="./assets/imgs/section1/elli.png", alt="elli")