include ../mixins/mix-sect2.pug

main.section2
	.container
		.sect2__item
				+sect-mix({
					img:'./assets/imgs/section2/car.svg',
					title:'Free Shipping',
					text:'Last Chance! Free shipping on all orders ends today.'
				})
				+sect-mix({
					img:'./assets/imgs/section2/glass.svg',
					title:'Quick Packaging',
					text:'Last Chance! Free shipping on all orders ends today.'
				})
				+sect-mix({
					img:'./assets/imgs/section2/cash.svg',
					title:'100% Money Back',
					text:'Last Chance! Free shipping on all orders ends today.'
				})
				+sect-mix({
					img:'./assets/imgs/section2/fast.svg',
					title:'Fast Delivery',
					text:'Last Chance! Free shipping on all orders ends today.'
				})




