//-include ../mixin/.... при необходимости
include ../mixins/mix-str1.pug

h2.subtitle
	span Shop by
	| Categories
section.categories
	.slider
		.swiper
			.swiper-wrapper
				.swiper-slide
					+category-block(
						{img:'./assets/imgs/ring.png',
						text:'Серьги'})
				.swiper-slide
					+category-block(
						{img:'./assets/imgs/ring.png',
						text:'123'})
				.swiper-slide
					+category-block(
						{img:'./assets/imgs/ring.png',
						text:'345'})
				.swiper-slide
					+category-block(
						{img:'./assets/imgs/ring.png',
						text:'567'})




