main.section6
	.container
		h2.section6__title Have Question in Mind? Let us help you
		.section6__question
			input.section6__input(type="text" placeholder="Enter your question")
			button.btn.section6__btn Send