main.section4-2
	.container
		.section4-2__flex
			.left
				.review
					.adele
						img.adele__img(src="./assets/imgs/section4-2/adele.png", alt="adele")
						.adele-data
							p.adele-data__name Adele A. McNeill
							p.adele-data__nation AMIRICAN
					p.review__text Thanks a lot for the prompt service. Really appreciate. Excellence taste in Every Bite.Add a joy of best Taste. Foodie Moments.
				.swiper
					.swiper-wrapper
						.swiper-slide
							img(src="./assets/imgs/section4-2/max.png", alt="max")
						.swiper-slide
							img(src="./assets/imgs/section4-2/adele-slide.png", alt="adele")
						.swiper-slide
							img(src="./assets/imgs/section4-2/adele-slide.png", alt="adele")
			.right
				img.right__img(src="./assets/imgs/section4-2/3-ice.png", alt="3ice")


