main.sect__4
	.container
		h2.sect4__top Our Product
		.sect4__row
			menu.sect4__menu
				ul.sect4__list
					li.sect4__item
						a.sect4__link(href="#") ICE CREAM
					li.sect4__item
						a.sect4__link(href="#") CAYENNE CHOCOLATE
					li.sect4__item
						a.sect4__link(href="#") CAKE BATTER
					li.sect4__item
						a.sect4__link(href="#") CANDY CANE
					li.sect4__item
						a.sect4__link(href="#") PLATTERS
					li.sect4__item
						a.sect4__link(href="#") DESSERT
					li.sect4__item
		.price-brown
			img.price-brown__img(src="./assets/imgs/section4/brown.svg", alt="brown")
			.price-brown__content
				h3.price-brown__title Brown bread
				p.price-brown__text Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
				p.price-brown__price $19.55
					span  $22.55
				button.btn.price-brown__btn Buy Now
		.price-cayenne
			.price-cayenne__content
				h3.price-cayenne__title Brown bread
				p.price-cayenne__text Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
				p.price-cayenne__price $19.55
					span  $22.55
				button.btn.price-cayenne__btn Buy Now
			img.price-cayenne__img(src="./assets/imgs/section4/cayenne.svg", alt="brown")
		.price-brown
			img.price-brown__img(src="./assets/imgs/section4/brown.png", alt="brown")
			.price-brown__content
				h3.price-brown__title Brown bread
				p.price-brown__text Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
				p.price-brown__price $19.55
					span  $22.55
				button.btn.price-brown__btn Buy Now

