main.section5
	.container
		.sect5
			img.sect5__img(src="./assets/imgs/section5/m-app.svg", alt="m-app")
			.sect5__content
				h2.sect5__title Simple Way To Order Your Food
				p.sect5__text Some food has looked so awful that it's looked like something that the dog's brought home, yet after one mouthful I've been left eating my thoughts.
				.sect5__list
					.sect5__item
						img.sect5__item-img(src="./assets/imgs/section5/hand.png", alt="hand")
						p.sect5__item-text Select Your Food
					.sect5__item
						img.sect5__item-img(src="./assets/imgs/section5/basket.png", alt="basket")
						p.sect5__item-text Add To Cart
					.sect5__item
						img.sect5__item-img(src="./assets/imgs/section5/list.png", alt="list")
						p.sect5__item-text Order Your Food
				.sect5__app
					a.sect5__link(href="#")
						img.sect5__market(src="./assets/imgs/section5/gplay.png", alt="gplay")
					a.sect5__link(href="#")
						img.sect5__market(src="./assets/imgs/section5/astore.png", alt="astore")