main.sect3
	.container
		h2.sect3__title Brown Sugar Oatmea
		p.sect3__text Together with McDonald’s, Burger King has grown to become synonymous with burgers in the US.Together with McDonald’s, Burger King has grown to become synonymous.
		button.btn.sect3__btn See Details
		img.sect3__image(src="./assets/imgs/section3/ice3.png", alt="ice-cream")
