main.section4
	.container
		.sect4
			h2.sect4__top-title Our Product
			menu.sect4__menu
				ul.sect4__list
					li.sect4__item
						a.sect4__link(href="#" link-name="ICE CREAM")
							span.sect4__span ICE CREAM
					li.sect4__item
						a.sect4__link(href="#" link-name="CAYENNE CHOCOLATE")
							span.sect4__span CAYENNE CHOCOLATE
					li.sect4__item
						a.sect4__link(href="#" link-name="CAKE BATTER")
							span.sect4__span CAKE BATTER
					li.sect4__item
						a.sect4__link(href="#" link-name="CANDY CANE")
							span.sect4__span CANDY CANE
					li.sect4__item
						a.sect4__link(href="#" link-name="PLATTERS")
							span.sect4__span PLATTERS
					li.sect4__item
						a.sect4__link(href="#" link-name="DESSERT")
							span.sect4__span DESSERT
			.price-brown
				img.price-brown__img(src="./assets/imgs/section4/brown.svg", alt="")
				.price-brown__content
					h3.price-brown__title Brown bread
					p.price-brown__text Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
					p.price-brown__price $19.55
						span  $22.55
					button.btn.price-brown__btn Buy Now
			.price-cayenne
				.price-cayenne__content
					h3.price-cayenne__title Cayenne chocolate
					p.price-cayenne__text Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
					p.price-cayenne__price $19.55
						span  $22.55
					button.btn.price-cayenne__btn Buy Now
				img.price-cayenne__img(src="./assets/imgs/section4/cayenne.svg", alt="cayenne")
			.price-brown
				img.price-brown__img(src="./assets/imgs/section4/sweet.svg", alt="sweet")
				.price-brown__content
					h3.price-brown__title Sweet corn
					p.price-brown__text Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
					p.price-brown__price $19.55
						span  $22.55
					button.btn.price-brown__btn Buy Now

